#checkout{
    margin-top: 200px;
}
#checoutComponent{
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
@media only screen and (max-width: 850px) and (min-width: 300px){
    #checkout{
        margin-top: 60px;
    }
    #checoutComponent{
        display: grid;
        border : 0px solid black;
        gap:30px
    }
}